ask_copilot.json
{
  "name": "Ask Copilot (Slack \u2192 n8n \u2192 API)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "copilot/ask"
      },
      "id": "Webhook",
      "name": "Webhook Ask",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        280,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "const text = $json.text || ''; return [{ json: { question: text } }];"
      },
      "id": "Prep",
      "name": "Prepare JSON",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://python-api:8080/ask",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{$json}}"
      },
      "id": "HTTP",
      "name": "Ask API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        760,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Ask": {
      "main": [
        [
          {
            "node": "Prepare JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare JSON": {
      "main": [
        [
          {
            "node": "Ask API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}